<!DOCTYPE html>
<html>

    <head></head>

    <body>
        <h1>Welcome to <%= pageTitle %>!</h1>
        <h2>Unfortunately, this page cannot be found. Make sure you entered the right address</h2>
    </body>

</html>
